.outstanding {
  @apply md:flex justify-center relative my-10 md:my-32;
  background-image: url('/home/ornament.svg'), url('/home/ornament.svg');
  background-position: bottom right, top left;
  background-repeat: no-repeat;
  background-size: 5%;
}

.div {
  @apply w-full md:w-[400px] h-[400px] bg-black rounded-md;
  background-image: url('/home/manWiring.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
